[2020-02-28 16:20] vaibagga opened #1 "Reading Image"
Create a python module for reading images from the directory, their labels and saving the data in an h5 file.
Within the module, create a function for loading the whole dataset

[2020-02-29 14:51] vaibagga opened #2 "Cross Validation"
Create a standardized python module for loading and splitting the dataset loaded from h5 file into train and validation splits (do not forget to set seed).

[2020-02-29 21:21] Mansi145 commented on #1
Are we working locally with the Kaggle files or can we use the Kaggle API to directly access the dataset?

[2020-03-01 06:09] aditisingh2362 commented on #2
I would like to take up this issue.

[2020-03-01 08:51] voldemortuk commented on #2
I would like to work on the issue

[2020-03-01 08:52] voldemortuk commented on #1
I would like to work on the issue

[2020-03-01 09:55] neversettle17-101 commented on #1
I would like to work on this issue

[2020-03-01 11:43] abhishekgupta368 commented on #1
I would like to work on it can you please assign me this task

[2020-03-01 11:44] abhishekgupta368 commented on #2
I would like to work on it, can you please assign me this task?

[2020-03-01 12:05] NeerajSirvisetti commented on #1
Can I work on this?

[2020-03-01 12:06] NeerajSirvisetti commented on #1
Can I work on this?

[2020-03-01 14:45] gshanbhag525 commented on #1
You can download the dataset on your local machine.

[2020-03-01 15:23] gshanbhag525 commented on #1
@Valdermaut You have one day to work on this issue.

[2020-03-01 17:10] TheTrailblazer09 commented on #1
Hi! Can I  work on this issue?

[2020-03-01 17:16] aditisingh2362 commented on #2
@vaibagga I could not find the h5 file in the dataset link provided. What does it signify?

[2020-03-02 05:05] gshanbhag525 opened #3 "Requirements text file"
Create a requirements text file for this project which will contain all the required libraries and frameworks for doing the data modelling.

[2020-03-02 05:07] vvijayalakshmi21 commented on #3
Hi, Im interested to take this up

[2020-03-02 05:11] gshanbhag525 opened #4 "Documentation for the Transfer Learning"
Add documentation as to how you can use deep learning/ transfer learning for this project.

[2020-03-02 05:14] gshanbhag525 opened #5 "Documentation for doing EDA Analysis"
Create documentation for doing EDA Analysis on the dataset.

[2020-03-02 05:37] TheTrailblazer09 commented on #4
I would like to work on this.

[2020-03-02 07:10] vvijayalakshmi21 commented on #5
Hi, I would like to take this up.

[2020-03-02 09:03] gshanbhag525 commented on #2
hi, @aditisingh2362 h5 is keras trained ml model file which you have to create and save once the training is done.

[2020-03-02 09:31] gshanbhag525 opened #6 "Documentation for How to setup tensorflow on Windows"
You have to write detailed steps as how to setup tesnorflow on windows machine for data modelling.

[2020-03-02 10:25] gshanbhag525 commented on #1
@Valdermaut Hi, you have 6 hours to work on this issue and submit the PR.
Otherwise I will assign the issue to next participant in this thread.

[2020-03-02 12:21] neversettle17-101 commented on #1
@gshanbhag525  My exams are going on right now. I would like to work on this issue right after they get over( 7th march ). Please assign this issue to the participant after me. I will work on it later.

[2020-03-02 12:33] aditisingh2362 commented on #2
@gshanbhag525 Thanks

[2020-03-02 12:54] HarshCasper commented on #6
Hello, @gshanbhag525 I would like to work on this issue as a participant for GSSOC'2020. I have ample experience in writing documentation and feel that I am best fit to execute this task. Kindly assign me this issue.

[2020-03-02 13:23] TheTrailblazer09 commented on #4
When is the deadline for this task?

[2020-03-02 15:19] voldemortuk commented on #1
@gshanbhag525  im done with it.

[2020-03-02 15:26] gshanbhag525 commented on #4
Hi 24 hours would be sufficient?

[2020-03-02 15:58] Aju100 commented on #5
hello i would like to take it too

[2020-03-02 16:39] TheTrailblazer09 commented on #4
Sir, Shall i write transfer learning in general or i need to write some code snippets. could you please tell me broad topics

[2020-03-02 19:24] HarshMehta2468 commented on #5
Hey,If PR not made in stipulated time, i'd surely like to take up this issue.

[2020-03-03 05:54] TheTrailblazer09 commented on #4
Hi
Yeah I will push the documentation to GitHub by tonight

On Mon, Mar 2, 2020 at 8:56 PM Gunesh Shanbhag <notifications@github.com>
wrote:

--
vani gupta

[2020-03-03 07:41] HarshCasper commented on #6
I have added a [Pull Request #9](https://github.com/CropAi/Data-Modeling/pull/9) to resolve this issue. Kindly review.

[2020-03-03 08:37] gunjanmimo commented on #3
I AM TAKING THIS ISSUE.

[2020-03-03 09:18] gunjanmimo commented on #3
@gshanbhag525 sir I have added the list of required libraries and frameworks. please review the pr

[2020-03-03 11:12] gshanbhag525 commented on #3
Issue is already assigned to @vvijayalakshmi21 .

[2020-03-03 11:57] GowthamChowta commented on #5
Hi, I am interested in doing this.

[2020-03-03 17:15] TheTrailblazer09 commented on #4
Hi I have added the documentation to GitHub. Kindly review it and please suggest any changes if required

[2020-03-03 18:09] #6 closed

[2020-03-03 18:21] gshanbhag525 commented on #4
Thanks for contributing to the Project. I have merged your PR.

[2020-03-03 18:21] #4 closed

[2020-03-03 18:31] gshanbhag525 commented on #2
@aditisingh2362 Are you still working on this Issue? If not, do let me know so I can reassign it to next person. If yes, I will give you more 24 hrs to work on this issue.

[2020-03-03 18:49] aditisingh2362 commented on #2
Yes, I'm still working on it.

[2020-03-04 06:16] Akansha2202 commented on #1
assign me this issue

[2020-03-04 06:16] Akansha2202 commented on #3
assign me this issue

[2020-03-04 06:17] Akansha2202 commented on #2
please assign me this issue

[2020-03-04 07:23] snehilk1312 commented on #2
@gshanbhag525 Are these repos only those who have been selected for gssoc?

[2020-03-04 07:32] gunjanmimo opened #13 "Add Tensorflow setup for Linux users"
Tensorflow setup for windows is added.
Linux users need TensorFlow setup and an installation guide to work with TensorFlow.

[2020-03-04 08:04] TheTrailblazer09 commented on #2
I would like to work on this issue

[2020-03-04 08:16] TheTrailblazer09 commented on #13
I would like to work on this issue

[2020-03-04 08:20] gunjanmimo commented on #13
@TheTrailblazer09, I have already started working on this issue.

[2020-03-04 15:01] gunjanmimo commented on #3
@gshanbhag525 sir may you add badge in this pr?

[2020-03-04 16:53] poojasrinivass commented on #5
I would like to work on this issue

[2020-03-04 16:53] poojasrinivass commented on #2
I would like to work on this issue

[2020-03-06 05:10] Garimagupta85 commented on #1
I would like to work on this issue.

[2020-03-06 16:03] voldemortuk commented on #2
I would like to work on this

[2020-03-06 19:10] preeti13456 commented on #5
Interested

[2020-03-06 19:10] preeti13456 commented on #2
Interested

[2020-03-06 19:11] preeti13456 commented on #1
Interested

[2020-03-07 03:19] jyoti22rjc commented on #13
I would like to work on this issue

[2020-03-07 03:21] ghost commented on #13
I would like to work on this issue

[2020-03-07 17:53] GowthamChowta commented on #1
Interested

[2020-03-07 17:53] GowthamChowta commented on #2
Interested

[2020-03-07 18:18] Mansi145 commented on #1
I would like to work on this issue. Can you assign it to me? I can make it work in one day.

[2020-03-07 18:21] Mansi145 commented on #3
Can I work on this issue? I can make it work in an hour.

[2020-03-07 20:44] gshanbhag525 opened #17 "Remove folder for Installing tensorflow on windows guide"
Remove the separate folder created for tf installtion guide on windows. Create a heading in readme.md file called "Installtion Guide" and Add Subheadings as Tensorflow Installtion on Windows.

[2020-03-07 20:46] gshanbhag525 commented on #13
Add a sub heading in Readme.md file as "Tensorflow Installtion on Linux" preferably for Ubuntu. And send a PR by tomorrow. @gunjanmimo

[2020-03-07 20:48] gshanbhag525 commented on #5
@gunjanmimo Your commit includes code related to csv file. The issue asks EDA on Image dataset.

[2020-03-07 20:49] gshanbhag525 commented on #5
@Aju100 Would you be able to work on this issue?

[2020-03-07 21:05] gshanbhag525 commented on #2
@Valdermaut You have 24 hours to work on this issue....If not completed will be assigned to next person.

[2020-03-07 21:10] #3 closed

[2020-03-07 21:24] gshanbhag525 opened #19 "Build a model using tf.keras"
Build a model using tf.keras and also display the confusion matrix for the given model.

[2020-03-07 21:26] gshanbhag525 opened #20 "Build a model using siamese network"
Try to implement a model using siamese network which will give better accuracy at lesser epoch

[2020-03-07 21:44] gshanbhag525 opened #21 "Write a python script to load 200 images from each folder of dataset"
Write a python script to load 200 images from each folder of plants dataset.

[2020-03-07 21:47] gshanbhag525 opened #22 "Write a method to Convert each imported image into an Array"
Create a method to Convert each imported image into an Array so that it can be used in further modelling.

[2020-03-07 21:48] gshanbhag525 commented on #22
Use Cv2 and numpy

[2020-03-07 21:48] Mansi145 commented on #21
Can you assign this to me?

[2020-03-07 21:48] Mansi145 commented on #22
Can I work on this?

[2020-03-07 21:49] gshanbhag525 opened #23 "convert each image label to binary label"
Use Scikit-learn’s Label Binarizer to convert each image label to binary label.

[2020-03-07 21:50] Mansi145 commented on #19
Can I work on this? I'm comfortable working with Keras.

[2020-03-07 21:50] gshanbhag525 opened #24 "Use pickle library to label binarizer instance"
Use pickle library to label binarizer instance and print the issues

[2020-03-08 02:20] GowthamChowta commented on #20
I would like to work on this issue

[2020-03-08 03:30] jyotikrjc commented on #13
ok

[2020-03-08 04:21] shubhamgoel90 commented on #19
@gshanbhag525 please can I work on this issue? I have already started working on it. Please Can you assign the issue to me?

[2020-03-08 04:44] Aju100 commented on #5
sure

[2020-03-08 04:45] Aju100 commented on #23
can u assigned to me this

[2020-03-08 05:01] shubhamgoel90 commented on #19
@gshanbhag525 Can you assign this issue to me? I have already started working on this.

[2020-03-08 06:13] neversettle17-101 commented on #19
Can I work on this? I have implemented a similar model for plant disease detection before.

[2020-03-08 07:09] annu12340 commented on #17
I would like to work on this issue. Please assign it to me

[2020-03-08 07:10] annu12340 commented on #21
I also would like to work on this issue

[2020-03-08 08:42] voldemortuk commented on #19
I would like to work on this issue

[2020-03-08 09:48] AdityaSingh17 commented on #19
I would like to take up this issue.

[2020-03-08 09:49] AdityaSingh17 commented on #21
I would like to take up this issue.

[2020-03-08 13:34] HarshCasper commented on #24
I would like to work upon this issue. Can you please assign me this issue @gshanbhag525

[2020-03-08 14:00] gshanbhag525 commented on #19
How much time you will need to work on this issue?

[2020-03-08 14:01] gshanbhag525 commented on #20
@gauti091 Have u worked with keras n siamese network before?

[2020-03-08 14:02] gshanbhag525 commented on #21
@annu12340 You hv 24 hrs to work on this issue

[2020-03-08 14:48] GowthamChowta commented on #20
I have worked with keras and have never worked with siamese network before. But I have gone through this link explaining the model architecture.
https://towardsdatascience.com/one-shot-learning-with-siamese-networks-using-keras-17f34e75bb3d

If you can provide any reference paper or blog I will go through it.

Thanks.

[2020-03-08 15:45] Mansi145 commented on #19
Thanks, @gshanbhag525 for assigning me the issue. In what time do you want this to be done? I wanted to give it 3-4 days. Are we fine with that deadline?

[2020-03-08 20:05] gshanbhag525 commented on #24
You have 24 hours @HarshCasper

[2020-03-08 20:09] gshanbhag525 commented on #20
Thats good that you are interested and want to learn. Heres paper https://www.researchgate.net/publication/339620844_Using_a_Convolutional_Siamese_Network_for_Image-Based_Plant_Species_Identification_with_Small_Datasets

[2020-03-08 20:15] #13 closed

[2020-03-09 03:38] TheTrailblazer09 commented on #22
I want to work on this

[2020-03-09 09:47] abhishekgupta368 commented on #22
I have do it easy and efficently. can you assign me please.

[2020-03-09 09:51] abhishekgupta368 commented on #20
I can work with it easily. can you please assign me

[2020-03-09 10:13] abhishekgupta368 commented on #19
I can make it fast and efficent, can you please assign me?

[2020-03-09 11:22] gshanbhag525 commented on #19
@Mansi145 You can take 4 days to implement it.
@abhishekgupta368 You can comment on the PR with enhancements once Mansi works on this issue in 4 days.

[2020-03-09 11:24] abhishekgupta368 commented on #19
ok

[2020-03-09 11:28] abhishekgupta368 commented on #22
what is size of the array and it should be 2d or 1d

[2020-03-09 11:30] abhishekgupta368 commented on #22
thank you for assigning me

[2020-03-09 13:14] GowthamChowta commented on #20
Thank you for sharing the reference paper.

I have gone through the paper and made the following items we need to do for our project especially for modelling.

1. Building tuples from the image data for training.
2. Defining the model architecture with a custom loss function.
3. Inference, how to use similarity score learned from the training to predict on test image.

Please correct me If I am wr

[2020-03-09 13:19] GowthamChowta commented on #20
Will the model architecture defined in this picture is fine to implement.
![1_v40QXakPBOmiq4lCKbPu8w](https://user-images.githubusercontent.com/58596028/76216453-9ffaef00-6236-11ea-8a4b-9339a728220f.png)

[2020-03-09 13:38] HarshCasper commented on #24
I have completed the part. Kindly review it @gshanbhag525

[2020-03-09 14:00] Mansi145 commented on #17
Can I work on this? It should not take me more than half an hour to get this done.

[2020-03-09 14:35] gshanbhag525 commented on #17
@Mansi145 ok u do it

[2020-03-09 16:17] jgini commented on #1
hi i would like to work on this.

[2020-03-09 18:30] GowthamChowta commented on #20
I have submitted a pull request for this issue #31

[2020-03-11 07:08] abhishekgupta368 commented on #20
sorry for the delay, I will do it now and push it, I have exams. hope you understand.

[2020-03-11 10:06] GowthamChowta commented on #20
HI Abhishek, before starting anything can you see the file #31. If anything is needed I can help you.

[2020-03-11 10:15] abhishekgupta368 commented on #20
ok

[2020-03-11 10:54] annu12340 commented on #21
I have created the pr

[2020-03-11 17:12] abhishekgupta368 commented on #20
your model is incomplete

[2020-03-11 17:33] abhishekgupta368 commented on #20
i have completed but little preprocessing left, I will complete it by night of by morning

[2020-03-12 07:09] abhishekgupta368 commented on #20
can you please put a HARD tag, it requires too much preprocessing and file writing.
thank you for giving me time.

[2020-03-12 08:20] GowthamChowta commented on #20
Abhishek,

Can you please let me know If I can help you in any way.

[2020-03-12 08:43] abhishekgupta368 commented on #20
No, I have completed, Just check my code

[2020-03-12 16:26] Shatakshi21 commented on #1
I would like to work on this. Infact,I have done this

[2020-03-13 07:28] abhishekgupta368 commented on #19
Sir, you told me that in four days, no pull request is created, you will assign me this task.
can you please assign me.
thank you

[2020-03-13 11:34] #17 closed

[2020-03-13 11:39] #24 closed

[2020-03-13 11:42] gshanbhag525 commented on #19
@abhishekgupta368 Mansi has worked on this issue....You can also take a look at the model she built. And if you have any better ideas you cacn comment here and I will assign this issue to refine this model.

[2020-03-13 11:45] Mansi145 commented on #2
Hey @gshanbhag525, what's the status of this issue? Can I work on this if no one is working on it?

[2020-03-13 11:45] abhishekgupta368 commented on #19
Can I message you on slack

[2020-03-13 12:00] #22 closed

[2020-03-13 12:17] gshanbhag525 opened #35 "Refine Readme file"
Remove duplicate parts. Follow the same visual appearance of Linux Installationfor Windows Installation

[2020-03-13 12:19] #21 closed

[2020-03-13 12:26] poojasrinivass commented on #2
I have also commented previously on this issue expressing my interest. Could you assign this to me please.

[2020-03-13 12:28] #23 closed

[2020-03-13 12:50] abhishekgupta368 commented on #19
I didn't find any issue.

[2020-03-13 13:42] annu12340 commented on #35
I would like to work on it

[2020-03-13 16:07] gshanbhag525 commented on #35
Sure go ahead.

[2020-03-13 19:15] poojasrinivass commented on #35
I would like to work on this issue. Can you add me to the queue?

[2020-03-14 04:45] annu12340 commented on #35
Could you please elaborate on what all things should I modifiy in the read me file

[2020-03-14 06:39] voldemortuk commented on #2
@Mansi145  I am done with the issue do check the pull request.

[2020-03-15 05:37] suchi12j commented on #35
I want to work on this isssue

[2020-03-15 05:38] suchi12j commented on #5
I want to work on this isssue

[2020-03-15 05:39] suchi12j commented on #2
I want to work on this

[2020-03-15 20:41] gshanbhag525 commented on #35
@poojasrinivass @suchi12j You can put the commands for Installation on Windows Part into code section which will fill horizonatally. You can take a look at the Installation on Linux Part for the understanding.

[2020-03-15 20:56] gshanbhag525 commented on #5
@Aju100 ANy update on this issue PR?

[2020-03-15 21:01] gshanbhag525 opened #37 "Create a python module to detect the spots on plant leaves (Use Kmeans algo)"
Create a python module to detect the spots on plant leaves. Use image segmentation techniques.
Use Kmeans algorithm

[2020-03-15 21:05] prakhar154 commented on #37
hi, i would like to work on it

[2020-03-15 21:09] gshanbhag525 opened #38 "Build a Keras CNN model using Alexnet Architecture"
Create a keras Convolutional Neural Network on Alexnet arch. Create model checkpoints in the code.

[2020-03-15 21:10] gshanbhag525 commented on #19
@abhishekgupta368 Its created .

[2020-03-15 21:14] gshanbhag525 opened #39 "Visualize the training process for the model created using keras"
Visualize the training process for the model created using keras .
Use matplotlib and seaborn libraries to display the training graph .
You can take inspiration from Tensorboard.

[2020-03-15 21:19] gshanbhag525 opened #40 "Create a documentation for how to setup the dataset to work with google collab"
Create a documentation for how to setup the dataset to work with google collab.
Give detailed steps.
The model built in tf.keras is present in jupyter file in this repo. It is present google collab.
You can refer it too.

[2020-03-15 21:22] gshanbhag525 opened #41 "Predict the new test images"
Use the keras model created to predict the new test images and the disease class it follows.
Display the image too using matplotlib library.

[2020-03-15 21:36] xAdvitya commented on #41
I would like to work on this issue

[2020-03-15 21:37] xAdvitya commented on #39
I would like to work on this issue

[2020-03-15 21:38] xAdvitya commented on #38
I would like to work on this issue

[2020-03-16 01:59] AdityaSingh17 commented on #38
@gshanbhag525  although I have never created an Alexnet model, I would really like to learn and create one! Could you please share some reference material?

[2020-03-16 01:59] AdityaSingh17 commented on #38
@gshanbhag525  although I have never created an Alexnet model, I would really like to learn and create one! Could you please share some reference material and assign me this issue?

[2020-03-16 02:20] TheTrailblazer09 commented on #38
I would like to work on this issue

[2020-03-16 02:25] TheTrailblazer09 commented on #40
I would like to work on this issue. however could you explain what does "setup the dataset" exactly means . Does it mean adding your dataset to google drive and accessing it

[2020-03-16 05:12] suchi12j commented on #35
I have created one pull request let me know if it requires any changes. I will update it.

[2020-03-16 05:16] suchi12j commented on #40
I want to work on this

[2020-03-16 05:43] jan-027 commented on #38
@gshanbhag525 I have previously worked with GoogleNet and ResNet for transfer learning. I would like to work with this one as well.

[2020-03-16 09:07] gshanbhag525 commented on #40
yes indeed.

[2020-03-16 09:09] gshanbhag525 commented on #40
24 hours would be more then enaugh for this. Create a nice Documentation @TheTrailblazer09 @suchi12j .

[2020-03-16 09:26] #35 closed

[2020-03-16 09:39] TheTrailblazer09 commented on #40
@gshanbhag525 could you explain a little what we have to do

[2020-03-16 11:11] shubhamgoel90 commented on #19
@gshanbhag525 Please review the Keras model file again. @Mansi145  has trained it on the wrong dataset. She has trained it on 39 classes while it has to be trained on 15 classes ie the given dataset for the project. So, kindly review it again.

[2020-03-16 12:07] gshanbhag525 commented on #40
Dataset is present in kaggle. Produce detailed steps on how to import that datset in google collab.

[2020-03-16 14:22] Mansi145 commented on #38
Hey @gshanbhag525. @AdityaSingh17 is working on this issue. If by any unfortunate chance he isn't able to complete the assigned task, I'd like to take up the issue. 😄 ✌️

[2020-03-16 14:26] Mansi145 commented on #19
Ohh thanks for notifieng this to us @shubhamgoel90. @gshanbhag525 let us know what do you want us to do. I think both Shubham or I are capable to fix this mistake.

[2020-03-16 19:16] gshanbhag525 commented on #19
Thanks for pointing that out @shubhamgoel90. Since he found the particular issue in the dataset. I would like him to correct this @Mansi145 . I am assigning this issue to u @shubhamgoel90 and your PR I want you to refine it.

[2020-03-17 01:45] TheTrailblazer09 commented on #41
I would also like to work on it

[2020-03-18 06:35] abhishekgupta368 commented on #37
I ask you for this issue, can you assign me?

[2020-03-18 06:52] abhishekgupta368 commented on #20
can you please verify my code

[2020-03-21 14:45] gshanbhag525 commented on #39
@Advitya-sharma Any update on this issue??

[2020-03-21 14:45] gshanbhag525 commented on #41
@Advitya-sharma Any update on this issue

[2020-03-21 14:47] AdityaSingh17 commented on #41
If there is no update, I would like to take this issue.

[2020-03-21 14:47] xAdvitya commented on #39
I'm asking in slack chat but no one is responding , how I make the model running so that I can work on visualisation,please tell how to load images for running the code

[2020-03-21 14:54] AdityaSingh17 commented on #39
I would like to this issue up!

[2020-03-21 19:25] #19 closed

[2020-03-21 19:28] #40 closed

[2020-03-21 19:34] gshanbhag525 commented on #39
@Advitya-sharma
Here is the model https://github.com/CropAi/Data-Modeling/blob/master/Crop_AI_Keras.ipynb .....open it in colab....kaggle.json file is included in the repo. I hope this helps you. If you have any more doubts just drop a comment here instead of slack.

[2020-03-21 19:37] gshanbhag525 commented on #39
https://github.com/CropAi/Data-Modeling/blob/master/Upload%20Kaggle%20Dataset%20in%20colab.ipynb This notebook will give you more insight as how the dataset is imported into collab from kaggle. Also there is load_images python module file in the repo @Advitya-sharma

[2020-03-21 20:13] gshanbhag525 commented on #37
Yes I want you to create a module for the same but without using kmeans algo but some other algo.. Would you be able to do that . If yes , then I will assign you.

[2020-03-21 20:15] abhishekgupta368 commented on #37
I will use computer vision with image segmentation that will be fast and efficient.

[2020-03-21 20:16] prakhar154 commented on #37
@gshanbhag525 I can do this with deep learning. But it will take some time.

[2020-03-22 07:29] abhishekgupta368 commented on #37
Can you please assign me, please

[2020-03-22 10:01] gshanbhag525 opened #47 "detect spots on plant leaves using Opencv"
detect spots on plant leaves using Opencv and image segmentation techniques

[2020-03-22 10:01] abhishekgupta368 commented on #47
I would like to work with it, please assign me this issue

[2020-03-22 10:02] abhishekgupta368 commented on #47
why beginner?

[2020-03-22 10:03] abhishekgupta368 commented on #47
Thanks

[2020-03-22 13:46] xAdvitya commented on #39
The code is ready, Should I make a separate .py file or include that in notebook ? and should I keep validation loss and validation accuracy in plot for future use ? as currently we are not calculating that

[2020-03-22 15:12] abhishekgupta368 commented on #5
Assign me please, so that, I can work on it

[2020-03-22 18:16] prakhar154 commented on #37
@gshanbhag525 I have made a PR for this issue. please review it.

[2020-03-23 14:28] Aman-Codes opened #48 "Add ISSUE_TEMPLATE"
I am a GSSOC participant and I would like to add an issue template folder with pull request template bug_report_template.md and feature_request_template.md.

## Screenshots

### Bug Report
![bug report](https://user-images.githubusercontent.com/54680709/77220822-e8d17280-6b69-11ea-9ca4-8df3d5a8c4b2.PNG)

### Feature request
![feature request](https://user-images.githubusercontent.com/54680709/7722

[2020-03-23 14:32] Aman-Codes opened #49 "Add CONTRIBUTING.md"
I am a GSSOC participant and I would like to add CONTRIBUTING.md file to include the following mentioned features
* How to clone the repository
* Adding  reference to the original repository
* Updating local copy of repository
* Creating a new branch
* Pushing commits
* If possible we can also include some pictures in it for a better look
* It should also include the link to the pull request templ

[2020-03-24 10:34] abhishekgupta368 commented on #20
Hello, Can you please verify it?

[2020-03-24 12:13] #49 closed

[2020-03-24 12:15] gshanbhag525 opened #52 "Image segmentation using Mask R-CNN model"
Use Image segmentation techniques to detect spots on leaves. Use deep learning.

[2020-03-24 12:16] prakhar154 commented on #52
i would like to work on it

[2020-03-24 12:17] AdityaSingh17 commented on #52
I would like to take this up.

[2020-03-24 12:18] #48 closed

[2020-03-24 12:21] gshanbhag525 commented on #52
@prakhar154 Which DL model are u planning to use

[2020-03-24 13:35] prakhar154 commented on #52
i will train Mask R-CNN

[2020-03-24 18:32] nancysingh24 commented on #52
I would like to work on this issue.

[2020-03-24 18:33] nancysingh24 commented on #47
I would like to work on this issue.

[2020-03-24 18:34] nancysingh24 commented on #41
I would to like to work on this issue.

[2020-03-24 19:57] gshanbhag525 opened #53 "Tidy up repository!!"
Create 2 folders

1. modules
Put these python module files in the modules folder. eg. "Image_To_array.py" , "label_binarizer_instance.py"

2. docs
Put these markdown files in the docs folder. eg. "transfer learning.md"
Extract "Installtion steps for tensorflow" from README.md and paste them in the docs folder as two separate md files for each OS

[2020-03-24 20:02] gshanbhag525 commented on #39
@Advitya-sharma Create a separate collab notebook and also include validation loss and validation accuracy in plot.

[2020-03-25 02:42] Aman-Codes commented on #53
@gshanbhag525 I am a GSSOC participant and I would like to work on this issue. Please assign it to me.

[2020-03-25 12:30] Aman-Codes opened #55 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@gshanbhag525   As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project. Using [this]( https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) as a reference.

**Additional context**
### Screenshots

![code of co

[2020-03-25 15:34] Aman-Codes commented on #55
@gshanbhag525 Sir can you please share your email id which I can add in this file where participants can report unacceptable behavior .

[2020-03-25 16:05] Aman-Codes commented on #53
@gshanbhag525  Do I also need to add load_images.py file to modules folder?

[2020-03-25 17:40] gshanbhag525 commented on #55
gshanbhag525@gmail.com

[2020-03-25 18:14] #20 closed

[2020-03-26 09:24] abhishekgupta368 commented on #5
Can you Assign me, So that, I can make EDA of it?

[2020-03-26 17:51] mySTRiouscoder opened #58 "Github Action for greeting"
I'd like to add some intermediate level github actions  to this project.

[2020-03-26 18:02] #55 closed

[2020-03-26 18:03] gshanbhag525 commented on #58
Please describe which github action you want to add to this project

[2020-03-26 18:04] gshanbhag525 commented on #53
@Aman-Codes No dont add it.

[2020-03-26 18:05] gshanbhag525 commented on #53
@Aman-Codes Also there are some more modules that are to be reviewed by mentors.

[2020-03-26 18:30] HarshMehta2468 commented on #58
I'll add the following actions:
1.)Greetings : A bot will greet the participant whenever he will raise an issue or submit a PR.
2.)Stale : In order to mark stale PR(s)/issues i.e. unattended  PR/issues.
3.)Language-Blocker: This bot will warn the participant if he uses any obscene language in the repo's comment box.

I've thought of these ideas so far.I'll surely tryna come up with more ideas. @gs

[2020-03-26 19:00] gshanbhag525 opened #59 "Get rid of .ipynb_checkpoints"
Get rid of .ipynb_checkpoints by adding the hidden directory to gitignore file.

[2020-03-26 21:06] #47 closed

[2020-03-27 07:59] gshanbhag525 commented on #58
@mySTRiouscoder Sure go ahead.

[2020-03-27 08:02] mySTRiouscoder opened #61 "Action for Marking Stale Issues/PR"
This github action marks stale issues and pull requests i.e. the issues  or PR which are unattended for a long period of time.

[2020-03-27 08:04] mySTRiouscoder opened #62 "Github Action to mark foul language."
This action warns the user if he speaks foul language in the repository.

[2020-03-27 13:43] prakhar154 commented on #59
I would like to work on it.

[2020-03-27 16:41] chrischongyj commented on #62
Would like to work on this.

[2020-03-27 17:50] nancysingh24 commented on #62
I would like to work on this issue. Pls, assign me this issue.

[2020-03-27 17:54] nancysingh24 commented on #61
would like to work this issue

[2020-03-27 17:54] nancysingh24 commented on #61
Would like to work on this issue

[2020-03-28 07:46] Himabindugssn commented on #52
I would like to take up this issue.

[2020-03-28 14:09] TheTrailblazer09 commented on #41
Hi
I am sorry for the delay. I will push it within the next 48 hours.
Could you please tell me which test images should I use as all Kaggle images have been used in training?

[2020-03-28 17:19] gshanbhag525 commented on #41
@TheTrailblazer09 Right now use the one from the dataset only.

[2020-03-28 17:20] gshanbhag525 commented on #41
@TheTrailblazer09 import one image

[2020-03-28 17:58] #38 closed

[2020-03-28 17:59] gshanbhag525 commented on #41
@TheTrailblazer09  Also push the PR to devt branch

[2020-03-28 18:09] #5 closed

[2020-03-28 18:26] abhishekgupta368 commented on #37
Can i do this please?

[2020-03-28 18:52] #37 closed

[2020-03-28 18:52] #59 closed

[2020-03-28 19:02] gshanbhag525 commented on #52
@Himabindugssn @nancysingh24  Which DL model you are planning to use if I assign you this issue?

[2020-03-28 19:21] abhishekgupta368 commented on #52
can you please assign me this issue.

[2020-03-29 06:59] Himabindugssn commented on #52
@gshanbhag525 I would use ResNet. It would give less error rate as compared to other models.

[2020-03-29 07:11] nancysingh24 commented on #52
AlexNet and GoogLeNet are best for large scale visual recognition.

[2020-03-29 08:33] gshanbhag525 opened #71 "Load .h5 file from google drive"
Create a py file and Load .h5 file from google drive.

[2020-03-29 08:34] AdityaSingh17 commented on #71
I would like to work on this issue.

[2020-03-29 08:34] abhishekgupta368 commented on #71
I will do it, assign me please

[2020-03-29 08:45] gshanbhag525 commented on #71
@AdityaSingh17 @abhishekgupta368 ok Both of you work on this. Its fairly an easy issue. WOrk on it and sent the PR as fast as possible.

[2020-03-29 08:48] AdityaSingh17 commented on #71
Which .h5 are we loading exactly? I don't see any in the repository.

[2020-03-29 08:55] AdityaSingh17 commented on #71
Where is the .h5 located?

[2020-03-30 07:01] gshanbhag525 commented on #52
@nancysingh24 @Himabindugssn Alexnet arch and Resnet is already implemented by other participants

[2020-03-30 07:32] Himabindugssn commented on #52
@gshanbhag525 can I try UNet?

[2020-03-30 08:00] tanishq9 opened #74 "List all the crop leaf disease categories in text file"
We require this file in our backend repository, so you should make a pull request for this issue :
https://github.com/CropAi/Backend/issues/11

[2020-03-30 08:01] abhishekgupta368 commented on #74
i want to do

[2020-03-30 08:02] abhishekgupta368 commented on #74
I have done data analysis of the dataset and can do it better.

[2020-03-30 11:34] gshanbhag525 commented on #41
Its been more then 48 hours @TheTrailblazer09

[2020-03-30 11:35] gshanbhag525 commented on #71
@AdityaSingh17 Are you der on slack?

[2020-03-30 11:37] AdityaSingh17 commented on #71
@gshanbhag525 Yes!

[2020-03-30 11:39] gshanbhag525 commented on #71
@AdityaSingh17 Jus Dm me

[2020-03-30 12:11] TheTrailblazer09 commented on #41
Hi
Sorry but the model that was trained is not giving the correct output. It is giving the 6th label for every picture. I am working on it I will surely submit it by tonight

[2020-03-30 16:38] #39 closed

[2020-03-30 16:56] gshanbhag525 commented on #52
Sure go ahead @Himabindugssn I will create an issue.

[2020-03-30 17:09] #71 closed

[2020-03-30 17:11] gshanbhag525 opened #76 "Image segmeantation using UNet Model"
use image segmentation techniques to create a google collab notebook which consists of UNet model .

[2020-03-30 17:15] gshanbhag525 commented on #74
@abhishekgupta368 @tanishq9 This issue is duplicate and have already been solved in the Backend repo. I am closing this issue.

[2020-03-30 17:15] #74 closed

[2020-03-30 17:16] Himabindugssn commented on #76
I want to work on this.

[2020-03-31 09:33] #41 closed

[2020-03-31 09:39] gshanbhag525 commented on #53
Create on more folder called "notebooks" and add all the jupyter notebooks from master branch to "notebooks" directory.

[2020-03-31 09:40] gshanbhag525 commented on #53
Do keep Cropai-keras jupyter notebook in the master branch....rest all can be moved to notebooks direcctory

[2020-03-31 09:42] gshanbhag525 commented on #53
Except "lable_images" file...move all other py module files to "modules" direcctory

[2020-03-31 12:13] abhishekgupta368 commented on #52
can you assign me?

[2020-03-31 12:14] abhishekgupta368 commented on #53
can you assign me?

[2020-03-31 12:15] abhishekgupta368 commented on #1
can I do it?

[2020-03-31 13:21] gshanbhag525 opened #77 "Refine label images module"
Refine label images module and add metjod called predict and return the predictions

[2020-03-31 13:22] AdityaSingh17 commented on #77
I would like to take this up!

[2020-03-31 16:20] abhishekgupta368 commented on #76
Can I do this, please?

[2020-03-31 19:03] rajats98 opened #79 "Add details about Data Modelling in Frontend/README"
Update Frontend/README.md
Refer this issue: https://github.com/CropAi/Frontend/issues/13

Under heading IMPORTANT LINKS, add details about data-modeling repo in brief (tech-stack, techniques, dataset etc.),  give it a heading (eg. Data-Modeling)
the link to repo should be there

[2020-03-31 19:05] Adyasha8105 commented on #79
sir, I want to work on this issue?

[2020-03-31 19:14] rajats98 commented on #79
Hey, Make a comment under CropAi/Frontend#13, then I will assign this to you also there itself.

[2020-03-31 19:14] #79 closed

[2020-04-01 10:16] #53 closed

[2020-04-01 20:15] tanishq9 opened #82 "Trim down the h5 model file"
Tweak the current architecture, and use some efficient way of saving space when saving this model file. [preferred size : ~70-75 MB]

[2020-04-01 20:16] AdityaSingh17 commented on #82
Please assign this issue to me!

[2020-04-01 20:16] tanishq9 commented on #82
Sure.

[2020-04-02 18:59] #82 closed

[2020-04-03 06:43] abhishekgupta368 commented on #77
I can do it

[2020-04-03 13:46] gshanbhag525 commented on #52
Any updates on this issue? @prakhar154

[2020-04-03 13:48] #62 closed

[2020-04-03 13:48] #61 closed

[2020-04-03 13:49] #58 closed

[2020-04-03 13:59] gshanbhag525 commented on #76
@Himabindugssn Any update on this isssue??

[2020-04-03 14:25] Himabindugssn commented on #76
@gshanbhag525 I need some more time. Will get it done soon.

[2020-04-03 17:12] prakhar154 commented on #52
@gshanbhag525 i am working on it, sorry for the delay i was busy with internship

[2020-04-04 12:44] nancysingh24 commented on #77
When are the new issues gonna open?

[2020-04-04 20:25] vaibagga opened #84 "Label Encoder file"
Write and save label encoder file in training and predict script

[2020-04-04 20:31] gshanbhag525 commented on #77
https://github.com/CropAi/Data-Modeling/issues/84

[2020-04-05 12:02] nancysingh24 commented on #84
I would like to work on this issue.

[2020-04-06 06:06] voldemortuk commented on #84
I would like to work on the issue @gshanbhag525

[2020-04-07 18:50] gshanbhag525 commented on #84
@nancysingh24 Any update on this?

[2020-04-08 05:36] nancysingh24 commented on #84
I just saw mail.i will start it by today.

[2020-04-08 11:15] gshanbhag525 commented on #84
@Valdermaut I am assigning this issue to u too. Start working on it. By tomorrow night submit the PR.

[2020-04-08 11:18] gshanbhag525 commented on #76
By tomorrow night you can submit a  PR @Himabindugssn . After that I will assign this to next particcipant @abhishekgupta368

[2020-04-09 18:12] voldemortuk commented on #84
@gshanbhag525 will do before Friday night saw this message a little but will do asap

[2020-04-11 23:35] Mansi145 commented on #52
Hey, @gshanbhag525 what's the update on the issue? Can I work on this?

[2020-04-12 17:17] SubhradeepSS commented on #76
@gshanbhag525 Is the issue open to be taken?

[2020-04-12 19:04] gshanbhag525 opened #85 "Fine tune Keras model"
Fine tune Keras model to get correct predictions for all the 15 categories. The model is present in CropAI_keras jupyter notebook.

[2020-04-13 14:03] gshanbhag525 commented on #52
Yes ..u can work on this. @Mansi145

[2020-04-13 14:04] gshanbhag525 commented on #76
@SubhradeepSS Yes go ahead.

[2020-04-13 14:06] gshanbhag525 commented on #84
@Valdermaut done?

[2020-04-13 19:32] SubhradeepSS commented on #76
@gshanbhag525 We have to implement transfer learning for unet model,right?

[2020-04-14 13:52] SubhradeepSS commented on #76
That is we have to use someone else's already built model for our own implementation?

[2020-04-14 17:18] SubhradeepSS commented on #76
@gshanbhag525 If already trained models need to be implemented then we can use the python package segmentation-models which is available in pip-[https://pypi.org/project/segmentation-models/](https://pypi.org/project/segmentation-models/)

[2020-04-14 22:37] gshanbhag525 commented on #76
@SubhradeepSS yes u can use it.

[2020-04-15 18:54] SubhradeepSS commented on #85
@gshanbhag525 Would like to work on the issue

[2020-04-16 13:46] gshanbhag525 commented on #85
@SubhradeepSS  go ahead

[2020-04-18 16:20] voldemortuk commented on #84
@gshanbhag525  I  guess the dataset does not require label encoding as it is not in css format. Please explain if what exactly needs to be done

[2020-04-20 05:55] Kuljeet-123 commented on #52
@gshanbhag525 Can I work on this issue??

[2020-04-21 06:58] abhishekgupta368 commented on #52
Please Allot me, I will do it.

[2020-04-28 18:42] weekly-digest[bot] opened #88 "Weekly Digest (21 April, 2020 - 28 April, 2020)"
Here's the **Weekly Digest** for [*CropAi/Data-Modeling*](https://github.com/CropAi/Data-Modeling):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #87 [segmentation of image](https://github.com/CropAi/Data-Modeling/pull/87), by [abhishekgupta368](https://github.com/abhishekgupta368)

 - - -
# PULL REQUESTS
Last week, 2 pull requests were created, upd

[2020-05-05 03:27] bhushanyadav07 commented on #85
hey i'm interested to work on this issue I request you please assign me this issue thank you.

[2020-05-22 00:05] #2 closed

[2020-05-25 07:21] #1 closed

[2020-05-25 07:23] gshanbhag525 commented on #85
@bhushanyadav07 Are you still working on this issue? If not, I will close this issue.

[2020-05-25 07:24] #88 closed

[2020-05-25 07:25] #77 closed

[2020-05-26 02:00] bhushanyadav07 commented on #85
@gshanbhag525 I'm still working I request you sir please give me some time :)

[2020-05-31 08:50] #76 closed

[2020-08-07 00:12] #85 closed

[2020-08-07 00:12] #84 closed

[2020-08-07 00:12] #52 closed